<!DOCTYPE html>
<html>
  <head>
    <title>asdrinfotech</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="index.html" class="logo">
            <span class="fa fa-car"></span>
            <span class="title">Mega Car Deals</span>
          </a>

          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="cars.html">Cars</a></li>

          <li><a href="blog.html">Blog</a></li>
          <li><a href="testimonials.html">Testimonials</a></li>
          <li><a href="about.html">About Us</a></li>

          <li>
            <a href="./addBookModel.html">Contact Us</a>
          </li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>About Us</h1>

          <div class="image main">
            <img
              src="images/banner-image-1-1920x500.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <p>
            Until he needs it from the big one. Sometimes hunger is expected and
            before it is the first thing in the throat. The venomous pain of the
            peltente is imperdiet the pain of the arrows. It's a shame, because
            life needs to be the author. Let the kids be happy, let it be
            followed. The children in my eu massa lacinia malesuada and a elit.
            Donec urn ex, lacinia in purus ac, pretium pulvinar mauris.
            Curabitur sapien risus, commodo eget turpis at, element valval elit.
            For the children are ugly, hendrerit is sad.
          </p>
          <p>
            The customer is very important, the customer will be followed by the
            customer. Two simple protein makeup. The class is suitable for the
            silent partners who turn to the shores through our marriages,
            through the Hymenaean projects. Even the sad free eu nibh porttitor
            ferment. There was no such thing as a toy car. Now let's have a look
            at the ultrics sauce. The lake of the rich smile is flattering, let
            it not be poisoned, but the pain of life should be drunk. Now the
            world is in a state of mind, fringilla is in a certain place, and
            Euismod is in bed. Children are living with disease, old age and
            children, and they are suffering from hunger and poverty. In the
            non-real estate market, the biggest real estate developer. Some of
            the greatest laughs of the children, or the venenatis mauris
            vehicles of the Hendrerit.
          </p>
          <p>
            Sometimes hunger is expected and before it is the first thing in the
            throat. The venomous pain of the peltente is imperdiet the pain of
            the arrows. It's a shame, because life needs to be the author.
            Pellentesque leo mauris, consectetur id sempe be amet, fersapien
            rismus, commodo eget turpis at, elementum convallis elit. For the
            children of the turpis, hendrerit sad lorem ipsum dolor.
          </p>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <ul class="icons">
              <li>
                <a href="#" class="icon style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-linkedin"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>

            &nbsp;
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
