<!DOCTYPE html>
<html>
  <head>
    <title>template ASDR</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="index.html" class="logo">
            <span class="fa fa-car"></span>
            <span class="title">Mega Car Deals</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="cars.html">Cars</a></li>

          <li><a href="blog.html">Blog</a></li>
          <li><a href="testimonials.html">Testimonials</a></li>
          <li><a href="about.html">About Us</a></li>

          <li>
            <a href="./addBookModel.html">Contact Us</a>
          </li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Cars</h1>

          <div class="image main">
            <img
              src="images/a.jpg "
              class="img-fluid"
              alt=""
              style="height: 30rem"
            />
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Used/New:</label>

                  <select>
                    <option value="">All</option>
                    <option value="new">New vehicle</option>
                    <option value="used">Used vehicle</option>
                  </select>
                </div>

                <br />
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Make:</label>

                  <select>
                    <option value="">BENTLEY</option>
                    <option value="">Audi</option>
                    <option value="">BMW</option>
                    <option value="">FORD</option>
                    <option value="">FERRARI</option>
                  </select>
                </div>

                <br />
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Vehicle type:</label>

                  <select>
                    <option value="">CONVERTABLE</option>
                    <option value="">COUCH</option>
                    <option value="">SUV</option>
                    <option value="">HATCHBACK</option>
                    <option value="">WAGON</option>
                    <!-- <option value="">-- All --</option>
                    <option value="">-- All --</option> -->
                  </select>
                </div>

                <br />
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Model:</label>

                  <select>
                    <option value="">A3</option>
                    <option value="">A4</option>
                    <option value="">ETRON</option>
                    <option value="">A5</option>
                  </select>
                </div>

                <br />
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Price:</label>

                  <select>
                    <option value=""><10000rs</option>
                    <option value="">20000rs</option>
                    <option value="">30000rs</option>
                    <option value="">40000rs</option>
                  </select>
                </div>

                <br />
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Mileage:</label>

                  <select>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                  </select>
                </div>

                <br />
              </div>

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Engine size:</label>

                  <select>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                  </select>
                </div>

                <br />
              </div>

              <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Power:</label>

                  <select>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                  </select>
                </div>

                <br />
              </div> -->

              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Fuel:</label>

                  <select>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                  </select>
                </div>

                <br />
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <button>APPLY</button>
                </div>

                <br />
              </div>
              <!-- 
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Gearbox:</label>

                  <select>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                  </select>
                </div>

                <br />
              </div> -->

              <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Doors:</label>

                  <select>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                  </select>
                </div>

                <br />
              </div> -->

              <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label class="m-n">Number of seats:</label>

                  <select>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                    <option value="">-- All --</option>
                  </select>
                </div>

                <br />
              </div> -->
            </div>
          </div>

          <br />

          <!-- Cars -->
          <section class="tiles">
            <article class="style1">
              <span class="image">
                <img src="images/product-1-720x480.jpg" alt="" />
              </span>
              <a href="car-details.html">
                <p><del>INR11 999</del> <strong>INR11 779</strong></p>

                <p>
                  <i class="fa fa-dashboard"></i> 130 000km
                  &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cube"></i> 1800
                  cc&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cog"></i> Manual
                </p>
              </a>
            </article>
            <article class="style2">
              <span class="image">
                <img src="images/product-2-720x480.jpg" alt="" />
              </span>
              <a href="car-details.html">
                <p><del>INR11 999</del> <strong>INR11 779</strong></p>

                <p>
                  <i class="fa fa-dashboard"></i> 130 000km
                  &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cube"></i> 1800
                  cc&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cog"></i> Manual
                </p>
              </a>
            </article>
            <article class="style3">
              <span class="image">
                <img src="images/product-3-720x480.jpg" alt="" />
              </span>
              <a href="car-details.html">
                <p><del>INR11 999</del> <strong>INR11 779</strong></p>

                <p>
                  <i class="fa fa-dashboard"></i> 130 000km
                  &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cube"></i> 1800
                  cc&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cog"></i> Manual
                </p>
              </a>
            </article>

            <article class="style4">
              <span class="image">
                <img src="images/product-4-720x480.jpg" alt="" />
              </span>
              <a href="car-details.html">
                <p><del>INR11 999</del> <strong>INR11 779</strong></p>

                <p>
                  <i class="fa fa-dashboard"></i> 130 000km
                  &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cube"></i> 1800
                  cc&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cog"></i> Manual
                </p>
              </a>
            </article>

            <article class="style5">
              <span class="image">
                <img src="images/product-5-720x480.jpg" alt="" />
              </span>
              <a href="car-details.html">
                <p><del>INR11 999</del> <strong>INR11 779</strong></p>

                <p>
                  <i class="fa fa-dashboard"></i> 130 000km
                  &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cube"></i> 1800
                  cc&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cog"></i> Manual
                </p>
              </a>
            </article>

            <article class="style6">
              <span class="image">
                <img src="images/product-6-720x480.jpg" alt="" />
              </span>
              <a href="car-details.html">
                <p><del>INR11 999</del> <strong>INR11 779</strong></p>

                <p>
                  <i class="fa fa-dashboard"></i> 130 000km
                  &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cube"></i> 1800
                  cc&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cog"></i> Manual
                </p>
              </a>
            </article>
          </section>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <ul class="icons">
              <li>
                <a href="#" class="icon style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-linkedin"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>

            &nbsp;
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
