<!DOCTYPE html>
<html>
  <head>
    <title>ASDR infotect template</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="index.html" class="logo">
            <span class="fa fa-car"></span>
            <span class="title">Mega Car Deals</span>
          </a>

          <!-- Nav -->
          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="cars.html">Cars</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="testimonials.html">Testimonials</a></li>
          <li><a href="about.html">About Us</a></li>

          <li>
            <a href="./addBookModel.html">Contact Us</a>
          </li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Contact Us</h1>
          <span class="image main"><img src="images/map.jpg" alt="" /></span>
          <p>
            Until he needs it from the big one. Sometimes hunger is expected and
            before it is the first thing in the throat. The venomous pain of the
            peltente is imperdiet the pain of the arrows. It's a shame, because
            life needs to be the author. Let the kids be happy, let it be
            followed. The children in my eu massa lacinia malesuada and a elit.
            Donec urn ex, lacinia in purus ac, pretium pulvinar mauris.
            Curabitur sapien risus, commodo eget turpis at, element valval elit.
            For the children are ugly, hendrerit is sad.
          </p>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <h2 id="contact1">Contact Us</h2>
            <form action="https://formspree.io/f/myyanldo" method="POST">
              <div class="fields">
                <div class="field half">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Name"
                    required
                  />
                </div>

                <div class="field half">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Email"
                    required
                  />
                </div>

                <div class="field">
                  <input
                    type="text"
                    name="subject"
                    id="subject"
                    placeholder="subject"
                    required
                  />
                </div>

                <div class="field">
                  <textarea
                    name="message"
                    id="message"
                    rows="3"
                    placeholder="Notes"
                    required
                  ></textarea>
                </div>

                <div class="field text-right">
                  <label>&nbsp;</label>

                  <ul class="actions">
                    <li>
                      <input
                        type="submit"
                        value="Send Message"
                        class="primary"
                      />
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </section>
          <section>
            <h2>Contact Info</h2>

            <ul class="alt">
              <li>
                <span class="fa fa-envelope-o"></span>
                <a href="#">asdrinfotech@gmail.com</a>
              </li>
              <li><span class="fa fa-phone"></span>95555554444</li>
              <li>
                <span class="fa fa-map-pin"></span> Unit 201, Achal Leela
                Darshan, Baner Rd, Pune, Maharashtra 411045
              </li>
            </ul>

            <h2>Follow Us</h2>

            <ul class="icons">
              <li>
                <a href="#" class="icon style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-linkedin"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
