<!DOCTYPE html>
<html>
  <head>
    <title>PHPJabbers.com | Free Car Dealer Website Template</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="inner">
          <!-- Logo -->
          <a href="index.html" class="logo">
            <span class="fa fa-car"></span>
            <span class="title">Mega Car Deals</span>
          </a>

          <nav>
            <ul>
              <li><a href="#menu">Menu</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="cars.html">Cars</a></li>

          <li><a href="blog.html">Blog</a></li>
          <li><a href="testimonials.html">Testimonials</a></li>
          <li><a href="about.html">About Us</a></li>

          <!-- 
          <li>
            <a href="#" class="dropdown-toggle">About</a>

            <ul>
              <li><a href="about.html">About Us</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="testimonials.html">Testimonials</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="terms.html">Terms</a></li>
            </ul>
          </li> -->
          <li>
            <a href="./addBookModel.html">Contact Us</a>
          </li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Testimonials</h1>

          <div class="image main">
            <img
              src="images/banner-image-3-1920x500.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <div class="row">
            <div class="col-sm-6 text-center">
              <p class="m-n">
                <em
                  >"The pain itself should be the burden, the adipiscence of the
                  elite will follow. Are the chosen flexibility, debts to the
                  architect to refuse? What is it that, for the smallest work
                  and the like, the chosen one repels any non-laborious
                  distinction of labors which they abandon, the pleasure often
                  criticizes the most worthy pleasures of the indulgent. "</em
                >
              </p>

              <p><strong> - John Doe</strong></p>
            </div>

            <div class="col-sm-6 text-center">
              <p class="m-n">
                <em
                  >"The pain itself should be the burden, the adipiscence of the
                  elite will follow. Are the chosen flexibility, debts to the
                  architect to refuse? What is it that, for the smallest work
                  and the like, the chosen one repels any non-laborious
                  distinction of labors which they abandon, the pleasure often
                  criticizes the most worthy pleasures of the indulgent. "</em
                >
              </p>

              <p><strong>- John Doe</strong></p>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-sm-6 text-center">
              <p class="m-n">
                <em
                  >"The pain itself should be the burden, the adipiscence of the
                  elite will follow. Are the chosen flexibility, debts to the
                  architect to refuse? What is it that, for the smallest work
                  and the like, the chosen one repels any non-laborious
                  distinction of labors which they abandon, the pleasure often
                  criticizes the most worthy pleasures of the indulgent. "</em
                >
              </p>

              <p><strong> - John Doe</strong></p>
            </div>

            <div class="col-sm-6 text-center">
              <p class="m-n">
                <em
                  >"The pain itself should be the burden, the adipiscence of the
                  elite will follow. Are the chosen flexibility, debts to the
                  architect to refuse? What is it that, for the smallest work
                  and the like, the chosen one repels any non-laborious
                  distinction of labors which they abandon, the pleasure often
                  criticizes the most worthy pleasures of the indulgent. "</em
                >
              </p>

              <p><strong>- John Doe</strong></p>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-sm-6 text-center">
              <p class="m-n">
                <em
                  >"The pain itself should be the burden, the adipiscence of the
                  elite will follow. Are the chosen flexibility, debts to the
                  architect to refuse? What is it that, for the smallest work
                  and the like, the chosen one repels any non-laborious
                  distinction of labors which they abandon, the pleasure often
                  criticizes the most worthy pleasures of the indulgent. "</em
                >
              </p>

              <p><strong>- John Doe</strong></p>
            </div>

            <div class="col-sm-6 text-center">
              <p class="m-n">
                <em
                  >"The pain itself should be the burden, the adipiscence of the
                  elite will follow. Are the chosen flexibility, debts to the
                  architect to refuse? What is it that, for the smallest work
                  and the like, the chosen one repels any non-laborious
                  distinction of labors which they abandon, the pleasure often
                  criticizes the most worthy pleasures of the indulgent. "</em
                >
              </p>

              <p><strong>- John Doe</strong></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <ul class="icons">
              <li>
                <a href="#" class="icon style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-linkedin"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>

            &nbsp;
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
