<html>
    <head>
        <Meta charset="UTF-8"></Meta>
        <title>Learning Model System</title>
    </head>
    <body><div>
        <div class="wrapper" margin=> 
            <ul class="nav">
                <li class="active ">  
                  <a href="./dashboard.html"> 
                    <i class="icon bank">

                    </i>
                    <p>Dashboard</p>
                  </a>   
                </li>
            </ul>




        </div>
        <div>
            <ul class="nav">
                <li class="active ">
                  <a href="./registration_page.html">
                    <i class="icon bank">
                        
                    </i>
                    <p>admin</p>
                  </a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="nav">
                <li class="active ">
                  <a href="./dashboard.html">
                    <i class="icon bank">
                        
                    </i>
                    <p>Dashboard</p>
                  </a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="nav">
                <li class="active ">
                  <a href="./dashboard.html">
                    <i class="icon bank">
                        
                    </i>
                    <p>Dashboard</p>
                  </a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="nav">
                <li class="active ">
                  <a href="./dashboard.html">
                    <i class="icon bank">
                        
                    </i>
                    <p>Faculty</p>
                  </a>
                </li>
            </ul>
        </div>

    </div>
    </body>
</html>









