<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    enter a <textarea name="text" id="s2" cols="30" rows="10"> </textarea>
    <p id="s1"></p>
    <button type="submit" type="submit" onclick="count();"></button>
    <script>
      let str=document.getElementById("s2").value;
      let c,s11,s22,s33,d,l;
      if(parseInt(str[0]) < )
    </script>
  </body>
</html>
